@{
    ViewBag.Title = "Liên Hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<br />
<div style="text-align:center;">
    <h3>Thông tin liên hệ</h3>

    <address> Tên :
        Nguyễn Ngọc Qúy
        <br />
        <abbr title="Phone">Điện thoại:</abbr>
        0336605307
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:quy10102003@gmail.com">quy10102003@gmail.com</a><br />
    </address>
</div>